# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Virtual environments
.venv/
env/
venv/

# Logs
*.log

# Ignore heavy intermediate folders
Calibration/LD_cal_raw/
Calibration/LD_cal_gamma/
Calibration/LD_cal_seg/
Calibration/LD_cal_efd/
Calibration/LD_cal_model/

Experiment/LD_exp_raw/
Experiment/LD_exp_gamma/
Experiment/LD_exp_seg/
Experiment/LD_exp_efd/

# Keep result folder
!Experiment/LD_exp_result_mcdo/
!Experiment/LD_exp_result_mcdo/**
