numpy==2.2.6
scipy==1.15.3
matplotlib==3.10.6
opencv-python==4.12.0.88
scikit-image==0.25.2
scikit-learn==1.7.2
joblib==1.5.2
tifffile==2025.5.10
pyefd==1.6.0
torch==2.8.0
torchvision==0.23.0
torchaudio==2.8.0
Pillow==11.3.0
